{% extends "layout.html" %}
{% block content %}

<div class="container text-center mt-5">
  <h2 class="fw-bold text-warning neon-title">
    <i class="bi bi-megaphone-fill"></i> Promociones
  </h2>

  <div class="row g-4 justify-content-center mt-4">

    <!-- Promo 1 -->
    <div class="col-md-5">
      <div class="card promo-card shadow-lg border-0">
        <img src="{{ url_for('static', filename='imagenes/promociones/oferta1.jpg') }}"
             class="promo-img" alt="Oferta 1">
        <div class="card-body text-center">
          <h5 class="fw-bold text-warning">🐔 Miércoles de Pollo</h5>
          <p class="text-white">20% en todos los pollos enteros.</p>
        </div>
      </div>
    </div>

    <!-- Promo 2 -->
    <div class="col-md-5">
      <div class="card promo-card shadow-lg border-0">
        <img src="{{ url_for('static', filename='imagenes/promociones/oferta2.jpg') }}"
             class="promo-img" alt="Oferta 2">
        <div class="card-body text-center">
          <h5 class="fw-bold text-warning">🔥 Pollo Horneado</h5>
          <p class="text-white">Compra uno y recibe salsa gratis.</p>
        </div>
      </div>
    </div>

    <!-- Promo 3 -->
    <div class="col-md-5">
      <div class="card promo-card shadow-lg border-0">
        <img src="{{ url_for('static', filename='imagenes/promociones/ofer.jpg') }}"
             class="promo-img" alt="Oferta 3">
        <div class="card-body text-center">
          <h5 class="fw-bold text-warning">🌮 Martes de 2x1</h5>
          <p class="text-white">Combo 2x1 en tacos de pollo.</p>
        </div>
      </div>
    </div>

    <!-- Promo 4 -->
    <div class="col-md-5">
      <div class="card promo-card shadow-lg border-0">
        <img src="{{ url_for('static', filename='imagenes/promociones/listo.jpg') }}"
             class="promo-img" alt="Oferta 4">
        <div class="card-body text-center">
          <h5 class="fw-bold text-warning">🥤 Paquete Familiar</h5>
          <p class="text-white">2 pollos + refrescos por solo $300.</p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
